input {
    background: rgb(255, 255, 255);
}

.mask {
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid rgba(211, 47, 47, 0.6);
    border-radius: 50%;
    border-left-color: #D32F2F;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

h2 {
    color: #263244;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 108px 0 95px 0;
}

h2:after {
    content: "";
    position: absolute;
    left: 50%;
    background: #d17700;
    height: 4px;
    width: 70px;
    margin: 60px 0 0 -35px;

}

body {
    font-family: Arial, sans-serif;
}

nav {
    background: #344051;
    height: 61px;
    width: 100%;
    color: #fff;
    line-height: 61px;
    position: fixed;
    z-index: 1;
}

nav a:visited {
    color: rgb(255, 255, 255);
}

nav a {
    transition: all 0.1s;
    color: rgb(255, 255, 255);
    transform: scale(1);
    display: inline-block;
}

nav a:hover {
    color: #eb8705;
}

nav a:active {
    transform: scale(1.1);
}

.logo {
    margin: 0px 390px;
    float: left;
    font-size: 26px;
    animation: coming 1.2s ease-in;
}

@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu li {
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 40px;
    text-transform: uppercase;
    opacity: 0;
    animation: shifttop 0.3s forwards;
}

@keyframes shifttop {
    from {
        position: relative;
        bottom: 40px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.15s !important;
}


.menu li:nth-child(3) {
    animation-delay: 0.3s !important;
}


.menu li:nth-child(4) {
    animation-delay: 0.45s !important;
}


.menu li:nth-child(5) {
    animation-delay: 0.6s !important;
}


.menu li:nth-child(6) {
    animation-delay: 0.75s !important;
}

.menu li:nth-child(7) {
    animation-delay: 0.9s !important;
}

main {
    padding-top: 61px;
}

.hello_page {
    width: 100%;
    height: 917px;
    background: url(../img/hello/boy.png) right/ auto 100% no-repeat, url(../img/hello/bg_hello.jpg) center/ 100% auto no-repeat;
    box-shadow: inset 0px -30px 14px -8px rgba(0, 0, 0, 0.5);
}

.title {
    margin: 432px 0 0 404px;
    float: left;
    text-align: center;
    opacity: 0;
    animation: left_coming 1s ease forwards;
    animation-delay: 1.0s;
}

@keyframes left_coming {
    from {
        position: relative;
        right: 1200px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

.hello_page {
    height: 980px;
}

.hello_page h1 {
    font-weight: bold;
    font-size: 60px;
    color: #2c384a;
}

.hello_page h4 {
    margin-top: 40px;
    font-size: 20px;
    color: #79818d;
}

.hello_page input {
    margin: 35px 13px;
    padding: 15px 16px;
    font-size: 16px;
    border: 1px solid #2c384a;
    border-radius: 5px;
    color: #2c384a;
    transition: all 0.4s;
    transform: scale(1);
}

.hello_page input:hover {
    background: #2c384a;
    color: #fff;
}

.hello_page input:active {
    transform: scale(1.1);
}

.about_me {
    height: 730px;
}

.avatar {
    width: 202px;
    margin: 0 auto 6px;
}

.about_me .text p {
    margin: 40px 0px;
    text-align: center;
}

.download_resume input {
    background: rgb(241, 241, 241);
    padding: 10px;
    border: 2px solid #2c384a;
    border-radius: 5px;
    margin: 0 0 0 1000px;
    color: #2c384a;
    transition: all 0.4s;
    transform: scale(1);
}

.download_resume input:hover {
    background: #2c384a;
    color: #fff;
}

.download_resume input:active {
    transform: scale(1.1);
}

.what_i_can {
    background: url(../img/what_i_can/bg_what_i_can.jpg) center/ 100% auto no-repeat;
    height: 523px;
    width: 100%;
}

.what_i_can img {
    margin-bottom: 40px;
}

.what_i_can h4 {
    color: #cf7600;
    font-size: 15px;
    margin-bottom: 10px;
}

.abilitys {
    width: 1500px;
    height: 170px;
    margin: 50px auto 0;
}

.ability {
    text-align: center;
    float: left;
    width: 200px;
    margin: 0 80px;
    line-height: 20px;
}

.cases {
    height: 1150px;
}

.cases>p {
    text-align: center;
}

.cases>img {
    margin: 40px 0 0 500px;
}

.cases h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.cases h4 {
    font-weight: bold;
    font-size: 20px;
}

.client_link {
    margin-left: 500px;
    width: 200px;
    float: left;
    line-height: 30px;
}

.info_about_website {
    width: 850px;
    margin: 0 0 0 780px;
    line-height: 25px;
}

.client_link input {
    margin-top: 15px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 40px;
    border: 1px solid #63b5ae;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    background: #63b5ae;
    transition: all 0.4s;
    transform: scale(1);
}

.client_link input:hover {
    background: #eb8705;
    color: rgb(0, 0, 0);
}

.client_link input:active {
    transform: scale(1.1);
}

.cost {
    height: 858px;
}

.cost h2 {
    padding-bottom: 60px;
}

.cost h2 {
    text-transform: none;
}

.cost h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
}

.selectors {
    margin-left: 650px;
}

.selector {
    margin-bottom: 40px;
}

.cost p {
    font-size: 18px;
    margin-top: 30px;
}

.cost select {
    font-size: 15px;
    color: #737373;
    width: 890px;
    height: 60px;
    background: #eeeeee;
    padding-left: 25px;
}

.cost .line {
    height: 1px;
    width: 890px;
    border: 1px solid #d1d1d1;
}

.statistic {
    height: 500px;
}

.conteiner_statistic {
    height: 500px;
    background: url(../img/statistics/bg_statistics.jpg) center/ 100% auto repeat;
    background-attachment: fixed;
}

.statistic h3 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.indicators {
    margin-left: 450px;
    text-align: center;
    width: 1300px;
    color: #323e4f;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 35px;
}

.indicators img {
    margin-bottom: 35px;
}

.indicator {
    float: left;
}

.indicator:not(:first-of-type) {
    margin-left: 150px;
}

.indicator img {
    opacity: 0;
    animation: bounceInDown 2s ease-out forwards;
}

@keyframes bounceInDown {
    from {
        position: relative;
        top: -150px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.reviews {
    height: 600px;
    text-align: center;
}

.reviews p {
    margin-top: 35px;
}

.my_links {
    background: url(../img/my_links/bg_my_links.jpg) center/ 100% auto no-repeat;
    height: 800px;
    text-align: center;
    color: #fff;
}

.my_links h2 {
    color: #fff;
    padding: 108px 0 70px 0;
}

.some_info_links {
    margin: 50px 0 40px 800px;
    height: 70px;
    width: 650px;
}

.info_item {
    width: 170px;
    float: left;
}

.message h3 {
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.first_input:first-of-type {
    margin-right: 30px;
}

.first_input {
    width: 350px;
    height: 30px;
}

.input_text {
    background: #d2d5dc;
    padding-left: 10px;
}

.input_text:last-of-type {
    margin-top: 20px;
    width: 733px;
    height: 90px;
}

.message .submit {
    font-weight: 550;
    margin-top: 30px;
    width: 120px;
    height: 45px;
    border-radius: 4px;
    font-size: 15px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(252, 0, 0, 0);
    transition: all 0.4s;
    transform: scale(1);
}

.message .submit:hover {
    border: #eb8705;
    background: #eb8705;
    color: rgb(0, 0, 0);
}

.message .submit:active {
    transform: scale(1.1);
}

.map {
    background: url(../img/map/map.jpg) center / 100% auto no-repeat;
    height: 350px;
}

footer {
    padding-top: 50px;
    color: #fff;
    background: #354051;
    text-align: center;
    height: 100px;
}